.conteiner{
    max-width: 1080px;
}

.align{
    width: 100%;
    display: flex;
    height: 100vh;
}

.bg-login{
    display: flex;
    flex: 1;
    background-color: white;
    height: 80%;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.267);
}

.login-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}